html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Poppins", "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-header {
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.home-logo {
  height: 230px;
}

.home-header h1 {
  margin-top: 0.5rem;
  color: var(--primary-dark);
  font-weight: 600;
}
